* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(60deg, #ccc, #d4d8e5,#dcdcdc);
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    padding: 40px 15px;
    /* background-color: brown; */
    background: linear-gradient(60deg, #ccc, #64bcfb,#dcdcdc);
    width: 30rem;
    height: 32rem;
    margin-top: 2%;
}

#loginForm{
    /* padding: 40px 15px; */
    /* background-color: brown; */
    /* background: linear-gradient(60deg, #ccc, #64bcfb,#dcdcdc); */
    width: 25rem;
    height: 32rem;
    /* margin-top: 5%; */
}

.input-field {
    width: 100%;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.input-field:focus {
    outline: none;
    /* Remove focus outline */
    box-shadow: 2px 2px 4px rgb(3, 179, 254);
    /* border: none; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    background-color: #fff;
}

.input-field::placeholder {
    color: #ccc;
    font-size: 16px;
}

#logo {
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 70px;
    padding: 20px;
    border-radius: 50%;
}

.loginLogo{
    background-color: #fff;
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 50%;

}
label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

#signup-btn{
    background-color: transparent;
    border: none;
    color: darkolivegreen;
}

#passwordMatch{
    display: none;
    font-size: small;
    color: green;
    font-weight: 500;
}

#passwordLength{
    display: none;
    font-size: small;
    color: green;
    font-weight: 500;
}

#passwordNotMatched{
    display: none;
    font-size: small;
    color: green;
    font-weight: 500;
}


a{
    text-decoration: none ;
    font-weight: 600;
    /* padding-top: 30px !important; */
    /* margin-top: 10px; */
}